{{!< layout}}

<form class="aui" onsubmit="return search_form_submit()" id="label-form">
  <div class="field-group">
      <label for="search-input-type">Type<span class="aui-icon icon-required">required</span></label>
      <input class="text" type="text" id="search-input-type" name="search-input-type" title="Text input">
      <br>
      <label for="search-input-text">Search string based on selected type in Pages<span class="aui-icon icon-required">required</span></label>
      <input class="text" type="text" id="search-input-text" name="search-input-text" title="Text input">
      <div class="description">Input a Text that is searched across all pages</div>
      <button id="search-input-submit" class="aui-button">Search for Type </button>
  </div>
</form>
<form class="aui" onsubmit="return false;" id="label-delete-form">
  <div class="field-group">
    <label for="label-replace-input">Add  label on selected pages<span class="aui-icon icon-required">required</span></label>
    <input class="text" type="text" id="label-add-input" name="label-add-input" title="Text Add">
    <div class="description">Input a label that replaces the label on selected labels</div>
    <button id="add-label-submit" class="aui-button" onclick="add_form_submit()">Add label to selected pages</button>
  </div>
</form>
<button id="delete-label-submit" class="aui-button" onclick="delete_form_submit()">Delete Label from selected pages</button>
<div>
  <table id="label-search-results" class="aui">
    <input id="n-results" name="n-results" type="hidden" value="-1">
    <input id="selected-label" name="selected-label" type="hidden" value="">
    <tr>
      <th>Title</th>
      <th>ID</th>
      <th>Select for add/remove</th>
    </tr>
  </table>

</div>


<script>
/*  
$(function(){
  $('#search-label-submit').on('click', function(){
    $('#label-search-results').html($('#label-input').val());  
  };
  
});*/
</script>